<a href="https://colab.research.google.com/github/David6230/Proyeccion_ventas/blob/main/proyecto_proyeccion_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto de proyecci√≥n de ventas

In [2]:
import pandas as pd
file_name = "/sales_predictions.csv"
df_ventas = pd.read_csv(file_name)
df_ventas.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# ¬øCu√°ntas filas y columnas?

In [8]:
a_1 = pd.DataFrame(df_ventas.shape)


print(f"La base cuenta con {a_1[0][0]} filas y {a_1[0][1]} columnas.")

La base cuenta con 8523 filas y 12 columnas.

# ¬øCu√°les son los tipos de datos en cada variable?

In [10]:
df_ventas.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

* Los tipos de datos con los que cuenta la base de datos son **object** y **float64**.

In [3]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

# An√°lisis de datos duplicados

* Para realizar el an√°lisis de registros duplicativos tomaremos la variable "Item_Identifier", como identificador √∫nico para determinar los registros duplicados.

In [14]:
# Procedo a realizar un testeo de un registro duplicado
#Genero una copia de mi base para no trabajar en la original

b_1 = df_ventas.copy()

In [19]:
b_1["dup"] = b_1["Item_Identifier"].duplicated()
a_1 = b_1[b_1["dup"] == True]
a_2 = b_1[b_1["Item_Identifier"] == "FDP49"]
a_2.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,dup
15,FDP49,9.0,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192,False
17,FDP49,9.0,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982,True
3973,FDP49,9.0,Regular,0.000000,Breakfast,55.2614,OUT018,2009,Medium,Tier 3,Supermarket Type2,552.6140,True
5630,FDP49,9.0,Regular,0.069229,Breakfast,55.9614,OUT045,2002,NaN,Tier 2,Supermarket Type1,386.8298,True
6040,FDP49,NaN,Regular,0.120966,Breakfast,55.8614,OUT019,1985,Small,Tier 1,Grocery Store,110.5228,True

* Del an√°lisis exploratorio realizado a un registro que por el Item_identifier parecia duplicados, pero se pudo observar que en s√≠ el registro no estaba duplicado ya que en las dem√°s variables conten√≠a informaci√≥n diferente.

* Como siguiente an√°lisis se procede a realizar un "distinc" a la base con el objetivo de dar la √∫ltima revisi√≥n a datos duplicados. Al igual que el caso anterior se realizar√° una copia de la base original.

In [20]:
b_1 = df_ventas.copy()

In [21]:
b_1.shape

(8523, 12)

In [22]:
b_2 = b_1.drop_duplicates()
b_2.shape

(8523, 12)

* El segundo an√°lisis me indica que no existen datos duplicados en la base, por lo que se considera mantener todos los registros teniendo como primer criterio la duplicidad de la informaci√≥n.

# Identificaci√≥n de valores faltantes en la base

In [23]:
df_ventas.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [29]:
a_1 = df_ventas["Item_Weight"].isna().sum()
a_2 = df_ventas["Outlet_Size"].isna().sum()

In [31]:
print(f"Del an√°lisi se puede observar que existen valores NaN en las variables Item_Weight con un total de {a_1}\ny la variable Outlet_Size {a_2} registros vac√≠os respectivamente.")

Del an√°lisi se puede observar que existen valores NaN en las variables Item_Weight con un total de 1463
y la variable Outlet_Size 2410 registros vac√≠os respectivamente.

## Analisis los valores vac√≠os

* Si la variable cuenta con m√°s del 45% de la data con NaN se procede a eliminar la variable.

In [41]:
nulos_Weight = (df_ventas["Item_Weight"].isna().sum()/len(df_ventas["Item_Weight"]))*100
nulos_Size = (df_ventas["Outlet_Size"].isna().sum()/len(df_ventas["Outlet_Size"]))*100

print(f"El porcentaje de nulos en la variable Item_Weight fue de {round(nulos_Weight,2)}% y de la variable Outlet_Size\nfue de {round(nulos_Size,2)}%, por debajo del 45% criterio de eliminaci√≥n de la variable. Por lo que se decia\na mantener las variables y se analizar√° alguna aternativa de impitaci√≥n de datos.")

El porcentaje de nulos en la variable Item_Weight fue de 17.17% y de la variable Outlet_Size
fue de 28.28%, por debajo del 45% criterio de eliminaci√≥n de la variable. Por lo que se decia
a mantener las variables y se analizar√° alguna aternativa de impitaci√≥n de datos.

# Confirmen que no hay valores faltantes despu√©s de abordarlos

* Se procede a realizar la imputaci√≥n por la mediana de cada una de los valores tomando como punto de referencia el ID Item_Identifier.
* Se generar√° una copia de la base donde se va a realizar la imputaci√≥n de datos.

In [192]:
dt1 = df_ventas.copy()

In [180]:
## Lleno los NaN con la mediana del peso y la moda
median_peso = dt1["Item_Weight"].median()
print(median_peso)

12.6

In [193]:
## Reemplazo los NaN con la median del peso
dt1["Item_Weight"].fillna(median_peso, inplace= True)

In [194]:
dt1["Item_Weight"].isna().sum()

0

In [195]:
size_comun = dt1['Outlet_Size'].mode()
print(size_comun)

0    Medium
dtype: object

In [196]:
dt1["Outlet_Size"] = dt1["Outlet_Size"].astype(str)

In [197]:
dt1["Outlet_Size"].value_counts()

Medium    2793
nan       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [198]:
dt1["Outlet_Size"].fillna(size_comun, inplace= True)

In [173]:
dt1["Outlet_Size"].isna().sum()

0

In [157]:
dt1.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

# Encuentren y arreglen alguna categor√≠a inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent)

In [158]:
dt1.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,nan,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [199]:
dt1["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [200]:
dt1["Item_Fat_Content"].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

## Se procede a arreglar la variable

In [210]:
dt1["Item_Fat_Content"] = dt1["Item_Fat_Content"].apply(lambda x: "Low Fat" if x in ["low fat","LF","Low Fat"] else "Regular" if x.lower() == "reg" else "Regular" )

In [211]:
dt1["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [212]:
dt1["Item_Fat_Content"].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

# Para cualquier columna num√©rica, obtengan las estad√≠sticas resumidas para cada uno (m√≠nimo, m√°ximo y media)

In [217]:
a_1 = dt1["Item_Weight"].agg(["min","max","mean"])
print(a_1)

min      4.55500
max     21.35000
mean    12.81342
Name: Item_Weight, dtype: float64

In [220]:
a_1[0]

4.555

In [223]:
print(f"Los valores de la variable Item_Weigt para el m√°ximo, m√≠nimo y la media fueron:\npara el m√°ximo:{round(a_1[1],2)}\npara el m√≠nimo: {round(a_1[0],2)}\npara la media: {round(a_1[2],2)}")

Los valores de la variable Item_Weigt para el m√°ximo, m√≠nimo y la media fueron:
para el m√°ximo:21.35
para el m√≠nimo: 4.56
para la media: 12.81